<a href="https://colab.research.google.com/github/ShaikhAyaan69/Internship/blob/main/Task_1/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **Program to create *One Dimensional Array* using Pandas Module**

In [ ]:
import pandas as pd
ds = pd.Series([1,2,3,4,5])
print(ds)

0    1
1    2
2    3
3    4
4    5
dtype: int64

### **Program to print *Array values* elements wise**

In [ ]:
import pandas as pd
disc = pd.DataFrame({'A':[3,5,2,6],'B':[7,3,8,4],'C':[3,6,7,2]})
print(disc)

   A  B  C
0  3  7  3
1  5  3  6
2  2  8  7
3  6  4  2

### **Program for** ***Adding Two Pandas Series***

In [ ]:
import pandas as pd
num1 = pd.Series ([3,4,5,6]) 
num2 = pd.Series ([4,3,7,2]) 
add = num1+num2
print(add)

0     7
1     7
2    12
3     8
dtype: int64

### **Program to *Compare Elements of Two Pandas Series***

In [ ]:
import pandas as pd
Ps1 = pd.Series([3,4,6,9])
Ps2 = pd.Series([8,3,5,9])
print(Ps1)
print(Ps2)
print("Comparison between Ps1 and Ps2 is")
print(Ps1==Ps2)
print(Ps1<Ps2)
print(Ps1>Ps2)

0    3
1    4
2    6
3    9
dtype: int64
0    8
1    3
2    5
3    9
dtype: int64
Comparison between Ps1 and Ps2 is
0    False
1    False
2    False
3     True
dtype: bool
0     True
1    False
2    False
3    False
dtype: bool
0    False
1     True
2     True
3    False
dtype: bool

### **Program to display *DataFrames from Dictionary Data***

In [ ]:
import pandas as pd
data = {'Names':['Ayaan','Wasim','Moin','Rahul'],
        'Address':['Junnar','Pune','Alephata','Mumbai']}
labels = ['A','B','C','D']

info = pd.DataFrame(data, index = labels)
print(info)

   Names   Address
A  Ayaan    Junnar
B  Wasim      Pune
C   Moin  Alephata
D  Rahul    Mumbai